.App {
  text-align: center;
}
body{
	 background: linear-gradient(to right,#1D2B64,#F8CDDA);
}

.first{
  background: linear-gradient(to right,#1D2B64,#F8CDDA);
width: 100%;
height: 35%;
color: white;
}
.second{
    background: linear-gradient(to right,#d299c2,#fef9d7);
width: 100%;
height: 70%;
}

.center{
  display: flex;;
  justify-content: center;
}
.right{
	display: flex;;
  justify-content: flex-end;
}
.back
{
	background-image: url('finger.png');
background-size:  cover ;
}
.about
{
	background-image: url('about.png');
background-size:  cover ;
}


